* {
    margin: 0px;
    padding: 1px;
    font-family: 'Inter', sans-serif;
}
.header{
    display: flex;
    justify-content:space-between ;
}
.logo{
    height: 50px;
    width: 50px;
}
.nav-items{
    display: flex; 

}
.items{
    display: flex;
    list-style: none;
    justify-content:space-between;
    cursor: pointer;
    
}
.items>li{
    padding: 17px;
}

.search-bar{
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar>input{
    margin: 12px;
}